*{
    box-sizing: border-box;
}
.container{
    margin : auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
.h1{
    text-align: center;
}

#output{
    box-sizing: content-box;
    border: 6px solid darkkhaki;
}
